@page "/su-dung-dich-vu-ngoai"
@model ExternalLoginModel
@{
    ViewData["Title"] = "Tạo hoạc liên kết với dịch vụ ngoài";
}


<div class="container">
    <div class="content-registerConfirmation p-5">
        <h1>@ViewData["Title"]</h1>
        <h2 id="external-login-title">Liên kết với tài khoản @Model.ProviderDisplayName.</h2>
        <hr />

        <p id="external-login-description" class="text-info">
            Bạn đã xác thực thành công <strong>@Model.ProviderDisplayName</strong>.
            Hãy nhập địa chỉ Email để tạo hoặc liên kết
        </p>

        <div class="row">
            <div class="col-md-4">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form method="post" asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl">
                    <div class="login-form_site">
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <label asp-for="Input.Email" class="form-label"></label>
                                <input asp-for="Input.Email" class="form-control" autocomplete="email" />

                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="w-100 btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0">Đăng ký</button>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


