@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Lấy lại mật khẩu?";
}

<div class="container">
    <div class="content-registerConfirmation p-5">
        <h1>@ViewData["Title"]</h1>
        <h2>Nhập địa chỉ email của tài khoản.</h2>
        <hr />
        @*<div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                </form>
            </div>
        </div>*@
        <div class="row">
            <div class="col-lg-6 pt-10 pt-lg-0" style="float:none;margin:auto;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <form method="post">
                    <div class="login-form_site">
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" placeholder="Nhập emaill . . .">
                                <span asp-validation-for="Input.Email" class="text-danger val_form"></span>
                            </div>
                        </div>
                        <button type="submit" class="w-100 btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0">Gửi</button>
                    </div>
                  
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
