@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Quên mật khẩu";
}

<div class="container">
    <div class="content-registerConfirmation p-5">
        <h1>@ViewData["Title"]</h1>
        <p>
            Hãy kiểm tra email để lấy lại mật khẩu.
        </p>

    </div>
</div>