@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Gửi lại email xác nhận";
}

<div class="container">
    <div class="content-registerConfirmation p-5">
        <h1>@ViewData["Title"]</h1>
        <h2>Nhập lại email.</h2>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="All" class="text-danger"></div>
                <form method="post">
                    
                    <div class="login-form_site">
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <label asp-for="Input.Email" class="form-label"></label>
                                <input asp-for="Input.Email" class="form-control" autocomplete="email" />

                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="w-100 btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0">Gửi</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
