@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
}

@*<h1>@ViewData["Title"]</h1>
<h2>Reset your password.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>*@

<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height_site">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Đổi mật khẩu</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-register-area section-space-y-axis-100_register">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-10 pt-lg-0" style="float:none;margin:auto;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form method="post">
                        <input asp-for="Input.Code" type="hidden" />
                        <div class="login-form_site">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" placeholder="Nhập Email . . .">
                                    <span asp-validation-for="Input.Email" class="text-danger val_form"></span>
                                </div>
                                <div class="col-md-12 col-12">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" placeholder="Nhập mật khẩu . . .">
                                    <span asp-validation-for="Input.Password" class="text-danger val_form"></span>
                                </div>
                                <div class="col-md-12 col-12">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" placeholder="Nhập lại mật khẩu . . .">
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger val_form"></span>
                                </div>
                               
                                <div class="col-12 mt-4">
                                    <button type="submit" class="w-100 btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0">Đổi mật khẩu</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
